body {
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  overflow: hidden;
  display: flex;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
}

.panels {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  border-radius: 50px;
  margin: 4px;
  color: white;
  flex: 0.5;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panels.active {
  flex: 5;
}

.text-center {
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 10px;
}
